{% extends "instagram/layout.html" %}
{% load bootstrap5 %}
<!doctype html>
{% block title %}Instagram PostDetail{% endblock title %}
{% block content %}
    <h3>작성자:{{ post.author }} </h3>
    <h4>내용: {{ post.message }}</h4>

    {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="None" width="200px"/>
    {% endif %}

    <hr/>
    <a href="{% url "instagram:post_list" %}" class="btn btn-primary">목록</a>
    <a href="{% url "instagram:post_edit" post.pk %}" class="btn btn-info">수정</a>
    <a href="{% url "instagram:post_delete" post.pk %}" class="btn btn-danger">삭제</a>

{% endblock content %}